{{- if not .Values.calendare.existingAdminSecret }}
---
{{- $initialAdminPassword := (.Values.calendare.administrator).password -}}
apiVersion: v1
kind: Secret
metadata:
    name: {{ include "calendare.fullname" . }}-admin
type: kubernetes.io/basic-auth
data:
{{- if not $initialAdminPassword }}
    username: {{ "admin" | b64enc | quote }}
    password: {{ randAlphaNum 24 | b64enc | quote }}
{{ else }}
    {{- range $key, $val := .Values.calendare.administrator }}
    {{ $key }}: {{ $val | b64enc | quote }}
    {{- end}}
{{ end }}
---
{{- end }}