{{- if .Values.metrics.enabled -}}
{{- if .Values.metrics.serviceMonitor.enabled -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "calendare.fullname" . }}
spec:
  endpoints:
    - interval: 30s
      port: metrics
      scheme: http
      path: /metrics
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  selector:
    matchLabels:
     {{- include "calendare.labels" . | nindent 6 }}
{{- end }}
{{- end }}
